<%= form_with(model: quest, local: true) do |form| %>
  <% if quest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quest.errors.count, "error") %> prohibited this quest from being saved:</h2>
      <ul>
      <% quest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" data_type="title">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control", placeholder: 'My awesome quest', autofocus: true %>
  </div>

  <div class="field" data_type="text">
    <%= form.label :description %>
    <%= form.hidden_field :description, class: "form-control" %>
    <trix-editor input="quest_description" placeholder="Enter a detailed description of your quest. Try to define what people need to do in order to solve the quest." ></trix-editor>
  </div>

  <div class="form-actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
