<% content_for :title, "Quests" %>

<div class="section section--hero" style="padding-top: 0;">
  <div class="container container--hero">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h1>Stop working. Start playing.</h1>
        <h5>Find a quest. Solve it.</h5>
        <p>Quests is the worlds first platform where you can earn IOTA for solving issues all around the world.
           No traveling. No contracts. Not even a sign-up. Just do it!</p>
         <div class="btn-wrapper">
           <a class="btn btn-primary btn-lg" href="/how_to" role="button">Learn more</a>
           <a class="btn btn-primary btn-lg" href="<%= new_quest_path %>" role="button">Create a quest</a>
         </div>
         <div class="kpi-wrapper">
           <div class="kpi-box" data-id="tab-open-quests">
             <h2><%= @quests.count %></h2>
             <h6>Open Quests</h6>
           </div>
           <div class="kpi-box" data-id="tab-solved-quests">
             <h2><%= @sovled_quests.count %></h2>
             <h6>Solved Quests</h6>
           </div>
         </div>
      </div>
    </div>
  </div>
  <%= render "home/hero_animation", quest: @hero_quest %>
</div>
<div class="section section--index">
  <div class="container">
    <div class="row" style="margin-bottom: 30px;">
      <div class="col-sm-12">
        <h2 style="text-align: center;">Quests</h2>
        <p style="max-width: 600px; text-align: center; margin: 0 auto;">Find a quest that you can solve. Solve it and earn IOTA if you suggested the best solution.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <nav class="nav nav-pills nav-justified">
          <a  id="tab-open-quests-tab" class="nav-item nav-link tablinks active" onclick="openTab(event, 'tab-open-quests')">Open Quests</a>
          <a  id="tab-solved-quests-tab" class="nav-item nav-link tablinks" onclick="openTab(event, 'tab-solved-quests')">Solved Quests</a>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 quest-list-container tabcontent" id="tab-open-quests">
        <% @quests.each do |quest| %>
          <a href="<%= quest_path(quest) %>" class="quest-item">
            <div class="quest-item__body">
              <div class="quest-item__header">
                <span style="opacity: .5;">Created by <%= quest.user.name %>, <%= time_ago_in_words quest.created_at %> ago</span>
              </div>
              <h6><%= quest.title %></h6>
            </div>
            <div class="quest-item__footer">
              <div class="footer-button">
                <%= image_tag "message.svg" %>
                <span><%= quest.messages.count %> suggestions</span>
              </div>
            </div>
          </a>
        <% end %>
      </div>
      <div class="col-sm-12 quest-list-container tabcontent" style="display: none;" id="tab-solved-quests">
        <% @sovled_quests.each do |quest| %>
          <a href="<%= quest_path(quest) %>" class="quest-item">
            <div class="quest-item__body">
              <div class="quest-item__header">
                <span style="opacity: .5;">Created by <%= quest.user.name %>, <%= time_ago_in_words quest.created_at %> ago</span>
                <span style="opacity: .5;">Solved by <%= quest.solver %>, <%= quest.payed_at ? "#{time_ago_in_words(quest.payed_at)}" : "on release date"  %> ago.</span>
              </div>
              <h6><%= quest.title %></h6>
            </div>
            <div class="quest-item__footer">
              <div class="footer-button">
                <%= image_tag "message.svg" %>
                <span><%= quest.messages.count %></span>
              </div>
              <div class="footer-button">
                <%= image_tag "iota.svg" %>
                <span><%= quest.payed_amount if quest.payed_amount %></span>
              </div>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
