<% content_for :title, "Quests - Create your quest!" %>

<div class="section section--hero small">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>New Quest</h1>
      </div>
    </div>
  </div>
  <div class="particles"></div>
</div>
<div class="section section--index">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">

      </div>
      <div class="col-sm-8">
        <%= render 'form', quest: @quest %>
        <div class="form-actions">
          <%= link_to 'Back', quests_path, class: 'btn btn-dark' %>
        </div>
      </div>
    </div>
  </div>
</div>
