<% content_for :title, "Quests -  #{ @quest.title}" %>
<% if @quest.inactive? %>
  <div class="alert alert-warning" role="alert">
    <strong>Closed!</strong> This quest is completed!
  </div>
<% elsif @quest.payout_proccessed? %>
<div class="alert alert-warning" role="alert">
  <strong>Closed!</strong> This payout is processig!
</div>
<% end %>
<div class="section section--hero small">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 back-title">
        <h1><%= @quest.title %></h1>
      </div>
    </div>
  </div>
  <div class="particles"></div>
</div>
<div class="section section--index">
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 quest-details">
        <div class="jumbotron">
          <div class="options-wrapper options-wrapper__left">
            <%= link_to 'Back', quests_path, class: 'btn btn-dark', style: 'margin-right: 15px;' %>
          </div>
          <div class="options-wrapper">
            <%= link_to 'Edit', edit_quest_path(@quest), id:'edit-btn', class: 'btn btn-dark' if current_user&.id == @quest.user_id  %>
          </div>
          <div class="quest-description"><%= sanitize @quest.description %></div>
          <p style="opacity: .5;">Created by <%= @quest.user.name %>, <%= time_ago_in_words @quest.created_at %> ago</p>
          <div class="react-balance">
            <%= react_component("Balance", { address: @quest.latest_address }) if @quest.active? %>
            <div class="balance-footer">
              <% if @quest.active? %>
                <div class="buttonCopyAddressk" data-toggle="tooltip" data-placement="bottom" title="<%= @quest.latest_address %>"  data-address="<%= @quest.latest_address %>">
                  <%= @quest.latest_address.truncate(9, omission: "...#{@quest.latest_address.last(3)}") %>
                </div>
                <button type="button" class="btn btn-primary buttonCopyAddressk" style="margin-bottom: 10px;" data-address="<%= @quest.latest_address %>">Copy address</button>
              <% elsif @quest.payout_proccessed? %>
              <p>Payout is done soon...</p>
              <% else %>
              <p>Payed out <%= time_ago_in_words @quest.payed_at  %> ago to  <%= link_to "solution", quest_path(@quest, anchor: "solution-#{@quest.messages.find_index(@quest.solution) + 1}") %></p>
              <% end %>
              <%= link_to "Check on TheTangle.org", "https://www.thetangle.org/address/#{@quest.latest_address}", target: '_blank' %>
            </div>
          </div>
        </div>
        <h2>Suggested solutions</h2>
        <% @quest.messages.each_with_index do |message, index| %>
          <div id="solution-<%= index + 1 %>" class="card <%= "text-white bg-success" if message == @quest.solution %>">
            <div class="options-wrapper options-wrapper__small">
              <% if @quest.active? && current_user&.id == @quest.user_id %>
                <%= button_to "Payout", quest_message_payout_path(@quest, message), class: 'btn btn-primary btn-xs' %>
              <% end %>
              <button type="button" class="btn btn-dark btn-xs buttoncopySolutionLink" style="margin-left: 15px;">Copy Solution Link</button>
            </div>
            <div class="card-body">
              <h3>Solution #<%= index + 1 %> </h3>
              <p class="card-text"><%=sanitize message.text %></p>
              <p style="opacity: .5; margin-bottom: 0;">Posted by <%= message.user ? message.user.name : 'anonymous' %>, <%= time_ago_in_words message.created_at  %> ago</p>

              <% if @quest.active? && current_user&.id == @quest.user_id %>
              <% elsif message == @quest.solution && !@quest.payout_proccessed? %>
                <br>
                <p>Payed out <%= @quest.payed_amount ? @quest.payed_amount : "unknown" %> IOTA <%= time_ago_in_words @quest.payed_at  %> ago.</p>
                <a href="https://www.thetangle.org/address/<%= @quest.solution.address %>" target="_blank">Watch payment on TheTangle.org</a>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= render 'messages/message_fields', message: @message, quest: @quest if @quest.active? || @quest.payout_proccessed? %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
