<%= form_for message, url: {controller: 'messages', action: "create", quest_id: quest.id, anchor: 'new_message'}, html: {class: ""} do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quest.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="card">
     <div class="card-body">
       <h3 class="card-title">Your solution</h3>
       <p class="card-text">
        <div class="field">
          <%= form.label :text, "description" %>
          <%= form.hidden_field :text %>
          <trix-editor input="message_text" placeholder="Lorem ipsum dolor sit amet..."></trix-editor>
        </div>

        <div class="field" data_type="iota">
          <%= form.label :address %>
          <%= form.text_field :address, class: "form-control", placeholder: "Your IOTA address. E.g. 'ADKLWNGMRLE9AD...'" %>
        </div>

        <div class="field">
          <%= form.label "post as" %>
          <% if current_user %>
            <%= select_tag "user", options_for_select([["as #{current_user.name}", 'true'], ['anonymous', 'false']]), class: "form-control" %>
          <% else %>
            <p>anonymous, or <%= link_to "create an account", new_user_registration_path %></p>
          <% end %>
        </div>

        <div class="actions" style="margin-bottom: 0;">
          <%= form.submit "Post", class: "btn btn-primary form-control" %>
        </div>
     </div>
   </div>

 <% end %>
