<div class="section section--hero device">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 device-form">
        <h1>Sign up</h1>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field" data_type="user">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true, placeholder: 'e.g. John Doe', data_type: 'email' %>
          </div>

          <div class="field" data_type="email">
            <%= f.label :email %>
            <%= f.email_field :email, autocomplete: "email", placeholder: 'e.g. johndoe@example.com' %>
          </div>

          <div class="field" data_type="password">
            <% if @minimum_password_length %>
            <em class="input-rule"><%= @minimum_password_length %> characters minimum</em>
            <% end %>
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', minlength: '6' %>
          </div>

          <div class="field" data_type="password">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password confirmation', minlength: '6' %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: 'btn btn-primary' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <%= render "home/hero_animation" %>
</div>
