<div class="section section--hero device">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 device-form">
        <h1>Resend unlock instructions</h1>
        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field" data_type="email">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
          </div>

          <div class="actions">
            <%= f.submit "Resend unlock instructions", class: 'btn btn-primary' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <%= render "home/hero_animation" %>
</div>
