<% content_for :title, "Quests - How to..." %>

<div class="section section--hero small">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Help</h1>
      </div>
    </div>
  </div>
  <div class="particles">

  </div>
</div>
<div class="section section--index">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">

      </div>
      <div class="col-sm-8">
        <h3>How to solve a quest?</h3>
        <div class="text-element content-element circles-list">
          <ol>
            <li>Find a quest that you can solve.</li>
            <li>Suggest a solution, add your IOTA address.</li>
            <li>If the quest creator accepts your solution, you will get the donations.</li>
          </ol>
        </div>

        <h3>How to create a quest?</h3>
        <div class="text-element content-element circles-list">
          <ol>
            <li><%= link_to "Sign In", new_user_session_path %>, or <%= link_to "create an account", new_user_registration_path %>.</li>
            <li>Go to <%= link_to "create a quest", new_quest_url %> - Set a quest title and describe your quest then create it.</li>
            <li>Send some IOTA's to the quest address.</li>
            <li>Share the quest link with your people and wait for some solutions.</li>
            <li>Payout the solution, which you like the most - and support the one that helped you most.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
