@import "mixins";

.section.section--hero {
  position: relative;
  @include size(100vh, 100%);
  @include bg-image;
  background-image: image-url('hero/hero-blank.jpg');
  color: var(--white_100);
  padding-top: 200px;
  overflow: hidden;
  &:before, &:after {
    content: "";
    position: absolute;
    @include size(100px, 100%);
    background-image: image-url("wave.svg");
    background-size: 100%;
    animation: move-left 20s infinite linear;
    z-index: 5;
    bottom: 0;
    background-repeat: no-repeat;
  }
  &:before {
    left: 100%;
  }
  &.small {
    padding-top: 160px;
    height: 350px;
    background-attachment: inherit;
    h1 {
      text-align: center;
    }
    .animation-wrapper {
      bottom: -300px;
    }
  }
  h5 {
    margin: 15px 0;
    opacity: .5;
  }
  .btn-wrapper {
    margin-top: 30px;
    .btn {
      font-size: 14px;
      &:first-child {
        margin-right: 30px;
      }
    }
  }
  .kpi-wrapper {
    @include flex(row, space-between, nowrap);
    align-items: baseline;
    margin-top: 50px;
    .kpi-box {
      background-color: var(--black_75);
      @include border-radius;
      border-left: 5px solid var(--primary);
      @include flex(column, center, nowrap);
      align-items: center;
      width: calc(50% - 15px);
      padding: 20px;
      &:hover{
        @include bg(primary);
        cursor: pointer;
      }
      h6 {
        margin-bottom: 0;
        opacity: .5;
      }
    }
  }
  .back-title {
    position: relative;
    a.btn {
      position: absolute;
      left: 15px;
    }
  }
  .container {
    position: relative;
    z-index: 2;
  }
}

.circled-quest {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .circled-quest-body {
    position: relative;
    height: 300px;
    box-shadow: inset 0 0 10px 0 #000;
    background: radial-gradient(circle, #000 0%, rgba(0,0,0,0.7) 78%, rgba(0,0,0,0.6) 91%, #000 100%);
    padding: 10px;
    border-radius: 50%;
    width: 300px;
    @include flex(column, center);
    align-items: center;
    text-align: center;
    &__footer {
      @include flex(row, center);
      .footer-button {
        margin: 0 15px;
        img {
          position: relative;
          opacity: 1;
          margin-right: 5px;
        }
      }
    }
    .play-btn {
      height: 50px;
      width: 154px;
      background-size: cover;
      position: absolute;
      z-index: 6;
      bottom: 0;
      opacity: 1;
      background-image: image-url("play-button.svg");
      @include flex(column, center);
      align-items: center;
      color: var(--white_100);
      text-decoration: none;
      span {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
      }
    }
  }
  &:hover {
    .circled-quest-body {

    }
  }
}

/* < 767px */
@media screen and (max-width: 767px) {
  .section.section--hero {
    height: 140vh;
    &:before, &:after {
      height: 80px;
    }
    .container.container--hero {
      margin-top: 120px;
    }
    &.device {
      height: 100vh;
      .animation-wrapper {
        display: none;
      }
    }
  }
}

/* < 580px */
@media screen and (max-width: 580px) {
  .section.section--hero {
    height: 140vh;
    &.device {
      .device-form {
        margin: 0 10px;
      }
    }
  }
}
/* < 520px */
@media screen and (max-width: 520px) {
  .section.section--hero {
    height: 170vh;
    &:before, &:after {
      height: 40px;
    }
  }
}
/* < 400px */
@media screen and (max-width: 400px) {
  .section.section--hero {
    height: 190vh;
    &:before, &:after {
      height: 40px;
    }
  }
}
