<div class="section section--hero device">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 device-form">
        <h1>Log in</h1>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field" data_type="email">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
          </div>

          <div class="field" data_type="password">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field checkbox">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-primary' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <%= render "home/hero_animation" %>
</div>
