@import "mixins";

.btn {
  border-radius: 50px;
  padding: 8px 16px !important;
  outline: none !important;
  border: none !important;
  &:focus {
    outline: none !important;
    border: none !important;
  }
  &.btn-primary {
    @include bg(primary);
    min-width: 120px;
  }
  &.btn-dark {
    color: var(--white_100);
  }
  &-xs {
    border-radius: 5px;
    padding: 4px 8px !important;
  }
}

.buttonCopyAddressk {
  cursor: pointer;
}
