/* --------------------------------------------------------------------
   Colors
-------------------------------------------------------------------- */
:root {
  --black_100: rgba(0, 0, 0, 1);
  --black_80: rgba(0, 0, 0, .8);
  --black_75: rgba(0, 0, 0, .75);
  --black_50: rgba(0, 0, 0, .5);
  --black_25: rgba(0, 0, 0, .25);
  --black_20: rgba(0, 0, 0, .2);
  --black_10: rgba(0, 0, 0, .1);
  --black_0: rgba(0, 0, 0, 0);
  --white_100: rgba(255, 255, 255, 1);
  --white_75: rgba(255, 255, 255, 0.75);
  --white_50: rgba(255, 255, 255, 0.5);
  --white_25: rgba(255, 255, 255, 0.25);
  --white_20: rgba(255, 255, 255, 0.2);
  --white_15: rgba(255, 255, 255, 0.15);
  --white_10: rgba(255, 255, 255, 0.1);
  --white_5: rgba(255, 255, 255, 0.05);
  --white_0: rgba(255, 255, 255, 0);

  --dark: #131313;
  --dark-2: rgba(63, 63, 63, 1);
  --dark-3: rgba(89, 89, 89, 1);

  --light: rgba(243, 243, 243, 1);
  --light-2: rgba(238, 238, 238, 1);
  --light-3: rgba(216, 216, 216, 1);

  --primary: #dc2a4c;
  --primary-2: #410f91;

  --secondary: #ff2bff;
  --secondary-2: #6117f7;

  --success: #47ae5e;
  --alert: #ae4747;
  --yellow: #c1a309;
  --blue: #14A5BF;
}
