//= require_tree .
//= require_self
//*= require trix

@import "bootstrap";
@import "quests";
@import "colors";
@import "buttons";
@import "mixins";


body * {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 700;
}

a, a.btn {
  color: var(--primary);
  opacity: .75;
  @include transition;
  &:hover {
    color: var(--primary);
    opacity: 1;
  }
}
a.btn {
  &:hover {
    color: var(--white_100);
  }
}
.alert {
  position: fixed;
  right: 10px;
  margin-top: 80px;
  width: 400px;
  z-index: 10;
  background-color: var(--black_75);
  .close {
    color: var(--white_50) !important;
    height: 100%;
    outline: none;
    @include transition;
    &:hover {
      color: var(--white_100) !important;
      background-color: var(--black_50);
    }
  }
  &-warning {
    color: var(--yellow);
    border-color: var(--yellow);
  }
  &-primary {
    color: var(--success);
    border-color: var(--success);
  }
  &-info {
    left: 10px;
    right: auto;
    color: var(--blue);
    border-color: var(--blue);
  }
  &-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
    color: var(--white_100);
    border-top: 5px solid var(--primary);
    &:before {
      content: '';
      position: absolute;
      top: -5px;
      width: 100%;
      height: 5px;
      @include bg(primary);
    }
  }
}

#error_explanation {
  padding: 15px;
  background-color: var(--alert);
  margin-bottom: 30px;
  @include border-radius;
  h2 {
    font-size: 18px;
  }
  ul {
    margin-bottom: 0;
  }
}

.content-element{
  margin: 30px 0 0 0;
}
.circles-list ol {
  list-style-type: none;
  margin-left: 1.25em;
  padding-left: 2.5em;
  counter-reset: li-counter;
  border-left: 1px solid var(--primary);
  position: relative; }

.circles-list ol > li {
  position: relative;
  margin-bottom: 3.125em;
  clear: both; }

.circles-list ol > li:before {
  position: absolute;
  top: -0.5em;
  font-weight: 600;
  font-size: 1em;
  left: -3.75em;
  width: 2.25em;
  height: 2.25em;
  line-height: 2.25em;
  text-align: center;
  z-index: 9;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 50%;
  content: counter(li-counter);
  background-color: var(--dark);
  counter-increment: li-counter;
}

/* < 520px */
@media screen and (max-width: 520px) {
  .alert {
    width: calc(100% - 20px);
    left: 10px;
    &-bottom {
      width: 100%;
      left: 0;
      right: 0;
    }
  }
}
