@import "mixins";

.section.section--hero.device {
  .device-form {
    background-color: var(--black_75);
    border-radius: 5px;
    padding: 30px;
    border-left: 5px solid var(--primary);
    h1 {
      margin-bottom: 30px;
    }
    a {
      color: var(--white_50);
    }
  }
}
