@import "mixins";

footer {
  padding: 50px 15px 100px;
  background-color: var(--dark);
  color: var(--white_100);
  position: relative;
  &:before {
    content: '';
    position: absolute;
    @include size(5px, 100%);
    @include bg(primary);
    top: 0;
    left: 0;
  }
  .footer-wrapper {
    @include flex(column, center, nowrap);
    align-items: center;
    .footer-logo {
      width: 200px;
      margin-bottom: 15px;
    }
    .footer-slogan {
      img {
        height: 20px;
        margin: 0 5px;
      }
      a {
        color: var(--white_75);
      }
    }
    .sm-links {
      margin: 20px 0;
      a {
        margin: 0 10px;
      }
    }
    a.footer-privacy {
      color: var(--white_50);
    }
  }
}
