@import "mixins";

form {
  .field {
    margin-bottom: 30px;
    position: relative;
    input, select {
      @include size(50px, 100%);
      background-color: var(--white_10);
      @include border-radius;
      outline: none;
      box-shadow: none;
      border: none;
      padding-left: 15px;
      @include transition;
      &:hover {
        background-color: var(--white_15);
      }
      &:focus {
        background-color: var(--white_20);
        color: var(--white_100);
        outline: none;
        box-shadow: none;
        border: none;
      }
      &:valid {
        color: var(--success);
      }
      &:invalid {
        color: var(--alert);
      }
    }
    label {
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 14px;
    }
    em.input-rule {
      position: absolute;
      bottom: -20px;
      right: 5px;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: var(--white_25);
      font-style: normal;
      font-weight: 700;
    }
    &.checkbox {
      @include flex(row, flex-start, nowrap);
      align-items: center;
      margin-top: -20px;
      margin-bottom: 20px;
      input {
        width: 25px;
      }
      label {
        margin-bottom: 0;
        color: var(--white_50);
      }
    }
  }
  .actions {
    margin-bottom: 20px;
  }
}
trix-editor {
  height: 300px;
  background-color: var(--white_10);
  @include border-radius;
  outline: none;
  box-shadow: none;
  border: none !important;
  border-color: transparent;
  padding: 15px !important;
  @include transition;
  overflow-y: auto;
  color: var(--white_100);
  &:hover {
    background-color: var(--white_15);
  }
  &:focus {
    background-color: var(--white_20);
    color: var(--white_100);
    outline: none;
    box-shadow: none;
    border: none;
  }
  &:checked, &:visited {
    color: var(--white_100);
  }
  &:valid {
    color: var(--success);
  }
  &:invalid {
    color: var(--alert);
  }
}
trix-toolbar {
  .button_row {
    margin: 0 -15px 15px;
    .button_group {
      border: none;
      overflow: hidden;
      margin: 0 15px;
      background-color: var(--white_10);
      button.icon {
        border: none !important;
        width: 50px;
        @include transition;
        &:before {
          filter: invert(100%);
        }
        &:hover, &.active {
          @include bg(primary);
        }
      }
    }
  }
}

.field {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 45px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: .5;
    @include transition;
  }
  &:hover, &:focus {
    &:after {
      opacity: 1;
    }
  }
  &[data_type="user"] {
    &:after {
      background-image: image-url("icons/user.svg");
    }
  }
  &[data_type="email"] {
    &:after {
      background-image: image-url("icons/email.svg");
    }
  }
  &[data_type="password"] {
    &:after {
      background-image: image-url("icons/lock.svg");
    }
  }
  &[data_type="title"] {
    &:after {
      background-image: image-url("icons/headline.svg");
    }
  }
  &[data_type="iota"] {
    &:after {
      background-image: image-url("iota.svg");
    }
  }
}
