@import "mixins";

nav.navbar {
  @include size(70px, 100%);
  @include flex(row, space-between, nowrap);
  align-items: center;
  @include box-shadow;
  background-color: var(--black_75);
  position: fixed;
  z-index: 10;
  a.navbar-brand {
    margin: 0;
    img {
      height: 40px;
    }
  }
  button.navbar-toggler {

  }
  div.navbar-collapse {
    @include flex(row, flex-end, nowrap);
    ul.navbar-nav {
      @include flex(row, flex-end, nowrap);
      align-items: center;
      li.nav-item {
        padding: 10px 20px;
        font-size: 1rem;
        a {
          @include transition;
          color: var(--white_50);
          &:hover,  {
            color: var(--primary);
          }
        }
        &--btn {
          padding-right: 0;
          a {
            color: var(--white_100) !important;
          }
        }
        &.active {
          a {
            color: var(--primary);
            font-weight: 700;
          }
        }
      }
    }
  }
}

/* < 991px */
@media screen and (max-width: 991px) {
  nav.navbar {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 0;
    a.navbar-brand {
      width: calc(100% - 70px);
      img {
        height: 40px;
        margin-left: 20px;
      }
    }
    button.navbar-toggler {
      @include size(70px, 70px);
      outline: none;
      @include flex(column, center, nowrap);
      align-items: center;
      border-radius: none !important;
      &[aria-expanded="false"] {
        .navbar-toggler-wrapper {
          span.line {
            &__top {
              top: 5.5px;
              transform: rotate(0deg);
            }
            &__center {
              opacity: 1;
            }
            &__bottom {
              bottom: 5.5px;
              transform: rotate(0deg);
            }
          }
        }
      }
      .navbar-toggler-wrapper {
        position: relative;
        @include size(30px, 30px);
        @include flex(column, center, nowrap);
        align-items: center;
        span.line {
          @include size(3px, 30px);
          background-color: var(--white_100);
          @include border-radius;
          position: absolute;
          @include transition;
          &__top {
            top: 14px;
            transform: rotate(45deg);
          }
          &__center {
            opacity: 0;
          }
          &__bottom {
            transform: rotate(-45deg);
            bottom: 13px;
          }
        }
      }
      &:hover {
        @include bg(primary);
      }
    }
    div.navbar-collapse {
      display: none;
      &.show {
        display: flex;
      }
      ul.navbar-nav {
        @include flex(column, flex-start, nowrap);
        width: 100%;
        height: calc(100vh - 70px);
        li.nav-item {
          height: 70px;
          width: 100%;
          @include flex(row, flex-end, nowrap);
          align-items: center;
          position: relative;
          a {
            text-align: right;
          }
          &--btn {
            padding-right: 20px;
          }
          &.active {
            a {
              color: var(--white_100);
            }
            &:after {
              content: '';
              position: absolute;
              right: -5px;
              width: 10px;
              height: 36px;
              @include bg(primary);
              @include border-radius;
            }
          }
        }
      }
    }
  }
}
