@import "mixins";

.section {
  .container {
    position: relative;
    z-index: 9;
    &--hero {
      margin-top: calc(50vh - 400px);
    }
  }
}

.section.section--index {
  background-color: var(--dark);
  padding: 100px 0;
  min-height: 50vh;
  color: var(--white_100);
  position: relative;
  overflow: hidden;
  &:before, &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: image-url("hero/particles.png");
    background-size: 100%;
    background-size: cover;
    animation: move 100s infinite linear;
    top: 0;
    opacity: .1;
  }
  &:before {
    right: 100%;
  }
  nav.nav.nav-pills {
    .nav-item.nav-link {
      @include flex(column, center);
      align-items: center;
      color: var(--white_100);
      background-color: var(--black_75);
      height: 50px;
      @include transition;
      border-radius: 0;
      cursor: pointer;
      &:hover, &.active {
        @include bg(primary);
      }
      &:first-child {
        border-radius: 5px 0 0 5px;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
    }
  }
  .quest-list-container {
    @include flex(row, flex-start, wrap);
    margin-top: 30px;
    padding: 0;
    .quest-item {
      @include flex(column, space-between, nowrap);
      background-color: var(--black_75);
      color: var(--white_100);
      padding: 20px;
      border-radius: 5px;
      border: 1px solid var(--white_25);
      width: calc((100% - 90px) / 3);
      margin: 0 15px 30px;
      text-decoration: none;
      @include transition;
      &:hover {
        @include bg(primary);
      }
      &__header {
        @include flex(column, flex-start, nowrap);
        align-items: flex-start;
        margin-bottom: 15px;
        img {
          background-color: var(--white_50);
          border-radius: 50%;
          @include size(30px, 30px);
          margin-right: 10px;
        }
      }
      &__footer {
        @include flex(row, space-between, nowrap);
        align-items: stretch;
        height: 40px;
        width: calc(100% + 40px);
        margin: 20px -20px -20px;
        .footer-button {
          @include flex(row, center, nowrap);
          align-items: center;
          width: 100%;
          background-color: var(--white_10);
          img {
            margin-right: 5px;
          }
          &:first-child {
            margin-right: 1px;
          }
          &:last-child {
            margin-left: 1px;
          }
        }
      }
    }
  }
  .form-actions {
    @include flex(row, center, nowrap);
    align-items: center;
    .btn {
      min-width: 140px;
      margin: 10px;
    }
  }
  .jumbotron {
    background-color: var(--black_50);
    color: var(--white_100);
    position: relative;
    padding: 30px;
    .quest-description {
      word-break: break-word;
    }
  }
  .options-wrapper {
    position: absolute;
    top: -20px;
    right: 20px;
    display: flex;
    &__left {
      left: 20px;
    }
    &__small {
      top: -15px;
    }
  }
  .quest-details {
    h2 {
      color: var(--white_100);
      margin-bottom: 15px;
    }
  }
  .card {
    background-color: var(--black_50);
    color: var(--white_100);
    margin-bottom: 30px;
    &.selected {
      background-color: var(--primary-2);
      opacity: none;
    }
  }
}

.react-balance {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: -30px;
  @include bg(primary);
  border-radius: 0 0 5px 5px;
  .card.text-center {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
  }
  .balance-footer {
    padding: 15px;
    background-color: var(--black_50);
    @include flex(column, center);
    align-items: center;
  }
  img {
    margin: 10px 0;
  }
  a {
    color: var(--white_100);
    &:hover {
      color: var(--white_100);
    }
  }
}

/* < 991px */
@media screen and (max-width: 991px) {
  .section.section--index {
    .quest-list-container {
      .quest-item {
        width: calc((100% - 60px) / 2);
      }
    }
  }
}
/* < 767px */
@media screen and (max-width: 767px) {
  .section.section--index {
    .quest-list-container {
      .quest-item {
        width: 100%;
      }
    }
  }
}
