<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 footer-wrapper">
        <a href="/">
          <%= image_tag "logo_white.svg", class: 'footer-logo' %>
        </a>
        <div class="footer-slogan">
          <span>Made with </span>
          <%= image_tag "love.svg" %>
          <span>and </span>
          <a href="https://www.iota.org" target="_blank"><%= image_tag "iota.svg" %></a>
          <span> by <a href="https://ecosystem.iota.org/users/huhn" target="_blank">huhn</a> and <a href="https://ecosystem.iota.org/users/rep0x" target="_blank">r3p0x</a></span>
        </div>
        <div class="sm-links">
          <a href="#">
            <%#= image_tag "twitter.svg" %>
          </a>
          <a href="#">
            <%#= image_tag "discord.svg" %>
          </a>
          <a href="#">
            <%#= image_tag "gitlab.svg" %>
          </a>
        </div>
        <a href="<%= privacy_path %>" class="footer-privacy">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
