<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="<%= root_path %>">
    <%= image_tag("logo_white.svg") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <div class="navbar-toggler-wrapper">
      <span class="line line__top"></span>
      <span class="line line__center"></span>
      <span class="line line__bottom"></span>
    </div>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item <%= "active" if request.path == '/' %>">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item <%= "active" if request.path == '/how_to' %>">
        <a class="nav-link" href="/how_to">Help</a>
      </li>
      <li class="nav-item nav-item--btn">
        <%= link_to 'Create a quest', new_quest_path, class: 'btn btn-primary nav-link' %>
      </li>
    </ul>
  </div>
</nav>
