<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'application/favicon' %>
    <meta name=”description” content=”Quests is the worlds first platform where you can earn IOTA for solving issues all around the world. No traveling. No contracts. Not even a sign-up. Just do it!” />
    <meta property=”og:title” content=”<%= yield(:title) %>” />
    <meta property=”og:description” content=”Quests is the worlds first platform where you can earn IOTA for solving issues all around the world. No traveling. No contracts. Not even a sign-up. Just do it!” />
    <meta property=”og:url” content=”http://quests.worldofmind.org/" />
    <meta property=”og:image” content=”http://quests.worldofmind.org/<%= image_path "logo.svg" %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="notice alert alert-bottom" role="alert">
      <strong>Beta!</strong> This software is currently in a beta phase. We assume no liability. If you need help or have questions, feel free to leave a message to <a href="mailto:quests@worldofmind.org">quests@worldofmind.org</a>. Thanks!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% if notice %>
      <div class="notice alert alert-primary alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>Notice: </strong> <%= notice %>
      </div>
    <% elsif alert %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>Alert: </strong> <%= alert %>
      </div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
